<div class="search-form mt-5 mb-5">
    <form method="post" class="row g-3">
        <div class="col-md-6">
            <label for="inputSearch" class="form-label">Form tim kiem</label>
            <input type="text" name="q" class="form-control" id="inputSearch" placeholder="Nhap tu khoa tim kiem">
        </div>
        <div class="clear"></div>
        <div class="col-md-6">
            <label for="inputGender" class="form-label">Gender</label>
            <select name="gender" class="form-control">
                <option value="">--Chon gioi tinh--</option>
                <option value="nu">Nu</option>
                <option value="nam">Nam</option>
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>